<style>
    * {
      box-sizing: border-box;
    }



#tsparticles {
 min-height: 100%;
 min-width: 100%;
  position: fixed;
  z-index: -1;
}

body{
  text-align: center;
  font-size: 24px;
}
.background {
  background-color: black;
  color: white;
}

.columnright{
  float: right;
   color: white;
  font-size: 18px;
}

.columnright ul{
  list-style-type: none;

}



.columnright a {
  color: aqua;
}

.columnright2{
  float: right;
   color: white;
  font-size: 18px;
 
}


.columnright2 ul{
  list-style-type: none;

}

.columnleft{
  float: left;
  color: white;
  font-size: 18px;
  width: 20%;
  margin-left: -20px;
 
}

.columnleft img{
  border-radius: 50%;
  width: 140px;
}

.columnleft2{
  float: left;
  position: absolute;
  color: white;
  font-size: 18px;
  width: 1%;
  
}

.columnleft2 ul{
    list-style-type: none;
  
}

.columnleft2 a{
  color: aqua;
  position: relative;
  max-width: min-content;
  font-size: 25px;
}

.header-top{
 
  float: none;
  
}

.navbar{
  position: absolute;
  overflow: hidden;
      background-color: black;
      margin: -10px;
      width: 50%;
      left: 25%;
}

.navbar a{
  float: left;
  color:  rgb(255, 137, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover{
  background-color: white;
  color: rgb(255, 137, 2);
}

.center-navbar a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.center-navbar a {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}
.main-body{
  float: none;
  position: relative;
  left: 25%;
  background-color: black;
  color: white;
  margin-top: 80px;
  width: 50%;

  margin-bottom: 60px;
  opacity: 90%;
}

.main-body a {
  color: aqua;
}

.body2{
  float: none;
  position:relative;
  left: 25%;
  background-color: black;
  color: white;
  width: 50%;
  opacity: 90%;
}

.body2 a {
  color: aqua;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .columnleft, .main-body, .body2, .columnleft2 {
    width: 100%;

</style>
